:root
{
	--bgcolor:#2a2a2a;/**/
	--fontcolor:white;
}

body
{
	margin:0;
    background-color: var(--bgcolor);	
	padding:0;
	font-family: 'Poppins', sans-serif;
}
:root {
  --color-primary: white;
  --color-secondary: #2a2a2a;
  --duration: 1s;
  --nav-duration: calc(var(--duration) / 4);
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --space: 1rem;
  --font-primary: "Helvetica", sans-serif;
  --font-heading: "Merriweather", serif;
  --font-size: 1.125rem;
  --line-height: 1.5;
}
.myself__img img
{
    height: 120px;
    cursor: pointer;
    width: 120px;
    top: 150px;
    border-radius: 10px;
    left: 45%;
    transition: 1s transform ease-in;
}
.typeanimation{
  transition: 1s width;
     width: 0px; 
    height: 30px;
    overflow: hidden;
    display: block;
    animation-name: example;
    animation-fill-mode:forwards;
    animation-duration: 10s;

}

@keyframes example {
  0% {
    width: 0px;
  }
  10% {
    width: 10%;
  }
  15% {
    width: 15%;
  }
  20% {
    width: 20%;
  }
  25% {
    width: 25%;
  }
  30% {
    width: 30%;
  }
  35% {
    width: 35%;
  }
  40% {
    width: 40%;
  }
  45% {
    width: 45%;
  } 
  50% {
    width: 50%;
  }
  55% {
    width: 55%;
  }
  60% {
    width: 60%;
  }
  65% {
    width: 65%;
  }
  75% {
    width: 75%;
  }
  85% {
    width: 85%;
  }
  90% {
    width: 90%;
  }
  95% {
    width: 95%;
  }
  100% {
    width: 100%;
  }
}
.banner_wrapper
{
    position: absolute;
    background: #0000007a;
    height: 100vh;
    width: 100%;
    z-index: 1;
}
.banner_wrapper2
{
    height: 10%;
    width: 5%;
    position: absolute;
    z-index: 2;
    border-radius: 30%;
    top: 10%;
    background: #06080bec;
    left: 21%;
}
.main-navigation-toggle {
  position: fixed;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
.main-navigation-toggle + label {
  position: fixed;
  top: calc(var(--space) * 1.5);
  right: calc(var(--space) * 2);
  cursor: pointer;
  z-index: 4;
}

.icon--menu-toggle {
  --size: calc(1rem + 4vmin);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  stroke-width: 6;
}

.icon-group {
  transform: translateX(0);
  transition: transform var(--nav-duration) var(--ease);
}

.icon--menu {
  stroke: var(--color-primary);
}

.icon--close {
  stroke: var(--color-secondary);
  transform: translateX(-100%);
}

.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform var(--nav-duration);
  z-index: 3;
}
.main-navigation:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  transform-origin: 0 50%;
  z-index: -1;
}
.main-navigation ul {
  font-size: 12vmin;
  font-family: var(--font-heading);
  width: 100%;
}
.main-navigation li {
  --border-size: 1vmin;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.main-navigation li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--border-size);
  background-color: var(--color-secondary);
  transform-origin: 0 50%;
  transform: translateX(-100%) skew(15deg);
}
.main-navigation a {
  display: inline-block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  color: var(--color-secondary);
  line-height: 1;
  text-decoration: none;
  user-select: none;
  padding: var(--space) calc(var(--space) * 2) calc(var(--space) + var(--border-size) / 2);
  transform: translateY(100%);
}

.main-content {
  margin: 6rem auto;
  max-width: 70ch;
  padding: 0 calc(var(--space) * 2);
  transform: translateX(0);
  transition: transform calc(var(--nav-duration) * 2) var(--ease);
}
.main-content > * + * {
  margin-top: calc(var(--space) * var(--line-height));
}

.main-navigation-toggle:checked ~ label .icon--menu-toggle .icon-group {
  transform: translateX(100%);
}
.main-navigation-toggle:checked ~ .main-content {
  transform: translateX(10%);
}
.main-navigation-toggle:checked ~ .main-navigation {
  transition-duration: 0s;
  transform: translateX(0);
}
.main-navigation-toggle:checked ~ .main-navigation:after {
  animation: nav-bg var(--nav-duration) var(--ease) forwards;
}
.main-navigation-toggle:checked ~ .main-navigation li:after {
  animation: nav-line var(--duration) var(--ease) forwards;
}
.main-navigation-toggle:checked ~ .main-navigation a {
  animation: link-appear calc(var(--duration) * 1.5) var(--ease) forwards;
}
.main-navigation-toggle:checked ~ .main-navigation li:nth-child(1):after,
.main-navigation-toggle:checked ~ .main-navigation li:nth-child(1) a {
  animation-delay: calc((var(--duration) / 2) * 1 * 0.125);
}
.main-navigation-toggle:checked ~ .main-navigation li:nth-child(2):after,
.main-navigation-toggle:checked ~ .main-navigation li:nth-child(2) a {
  animation-delay: calc((var(--duration) / 2) * 2 * 0.125);
}
.main-navigation-toggle:checked ~ .main-navigation li:nth-child(3):after,
.main-navigation-toggle:checked ~ .main-navigation li:nth-child(3) a {
  animation-delay: calc((var(--duration) / 2) * 3 * 0.125);
}
.main-navigation-toggle:checked ~ .main-navigation li:nth-child(4):after,
.main-navigation-toggle:checked ~ .main-navigation li:nth-child(4) a {
  animation-delay: calc((var(--duration) / 2) * 4 * 0.125);
}

@keyframes nav-bg {
  from {
    transform: translateX(-100%) skewX(-15deg);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes nav-line {
  0% {
    transform: scaleX(0);
    transform-origin: 0 50%;
  }
  35% {
    transform: scaleX(1.001);
    transform-origin: 0 50%;
  }
  65% {
    transform: scaleX(1.001);
    transform-origin: 100% 50%;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 100% 50%;
  }
}
@keyframes link-appear {
  0%, 25% {
    transform: translateY(100%);
  }
  50%, 100% {
    transform: translateY(0);
  }
}
.top__banner
{
	text-align: center;
	overflow: hidden;

	justify-content: center;
    display: flex;
    position: relative;
    align-items: center
}
.myname__container
{
	position: absolute;
	font-size: 2.4rem;
  z-index: 2;
}
.myname__container h1
{
	word-spacing: 6px;
}
.emoji
{
    font-size: 1em;
    width: 50px;
    height: 50px;
    font-style: normal!important;
    font-weight: 400;
    line-height: 1;
    vertical-align: -.075em;
    animation-name: emojimove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.name
{	
	font-family: 'Ubuntu', cursive;
}
.myname__container p ,
.myname__container h1
{
	color: var(--fontcolor);
	margin: 0; 
}
.myname
{
	overflow: hidden;
}
.myname__container h1
{
	animation-name: fadein;
	animation-duration: 2s;
}
.text__container
{
	font-size: 16px;
	font-weight:bold;
}
.profile__img
{
	height: 100vh;
    width: 100%;
}
.company_wrapper{
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
	margin: 15px;
	background-color: var(--bgcolor);
  padding: 0.5rem;
	border-radius: 10px;
	box-shadow: rgba(255, 255, 255, 0.05) -1vmin -1vmin 1vmin, rgba(0, 0, 0, 0.3) 1vmin 1vmin 1vmin;

}
.company_logo{
  margin: 0.5rem;
}
.company_description{
  margin: 0.5rem;
  color: white;
}
.company_description h3{
  margin: 0.2rem;
}
.company_logo img{
  height: 100px;
  width: 100px;
  border-radius:10px ;
}
.skills__container,
.expereince__container
{
	width: 80%;
	margin: auto;
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
  background-color: var(--bgcolor);	
	justify-content: space-around;
}
.expereince__container{
  align-items: center;
  /* flex-direction: column; */
}
.skill 
{
	width: 170px;
	height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--bgcolor);
    margin: 5px;
	box-shadow: rgba(255, 255, 255, 0.05) -1vmin -1vmin 1vmin, rgba(0, 0, 0, 0.3) 1vmin 1vmin 1vmin;
}
.skills__heading,
.projects__heading
{
	color: var(--fontcolor);
  text-decoration: underline;
	font-size: 2rem;
	text-align: center;
}

.skill:hover
{
	transform: translateY(-10px) !important;
}
.skill_image
{
		height: 90%;
		width: 90%;
}
.projects__container
{
	display:flex;
	flex-wrap: wrap;
	justify-content:center;
	overflow: hidden;
	background-color: var(--bgcolor);
}
.project-title-bar {
    display: block;
    position: relative;
    height: 20px;
    background-color: #ddd;
    width: 97%;
    color: #6a6a6a;
    z-index: 10;
    margin: auto;

  }
.project-title-bar h2 {
    content: attr(data-text);
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -.5px;
    color: #8a8a8a;
}
.project-title-bar i, .project-title-bar i:after, .project-title-bar i:before {
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: #ff5f57;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 10px;
}
.project-title-bar i:before {
    content: " ";
    left: 16px;
    background-color: #ffbd2e;
    top: 0;
}
.project-title-bar i:after {
    content: " ";
    left: 32px;
    background-color: #28ca41;
    top: 0;
}
.projects__card
{
	width: 350px;
  height: 450px;
	margin: 15px;
	background-color: var(--bgcolor);
	border-radius: 10px;
	box-shadow: rgba(255, 255, 255, 0.05) -1vmin -1vmin 1vmin, rgba(0, 0, 0, 0.3) 1vmin 1vmin 1vmin;
}

.projects__img
{
	margin:10px;
}
.projects__img img
{
	display: block;
	border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
	height: 280px;
    width: 97%;
	margin:auto;
} 
.projects__title
{
    margin: 5px;
    text-align: center;
    color: var(--fontcolor);
}
.project__link
{
	text-decoration: none;
}
.projects__footer input
{
    margin: auto;   
    display: block;
    border-radius: 7px;
    background-color: black;
    color: var(--fontcolor);
    margin-bottom: 10px;
    cursor: pointer;
    border:0;
    height: 25px;
}
.projects__links,
.project__tech
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.project__tech p
{
	
	margin: 0;
	font-size: 13px;
	min-width: 30px;
	margin-bottom:10px;
	padding: 3px; 
    text-align: center;
    border-radius: 7px;
    background-color: #28ca41bd;
    color: var(--fontcolor);
    border: 0;
}
.footer__container
{
	
}
.footer__list
{
  z-index: 2;
	background: rgba( 4, 249, 89, 0.45 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 10.5px );
	-webkit-backdrop-filter: blur( 10.5px );
	border-radius: 10px;
    position: fixed;
    top: 10%;
    right: 2px;
    padding: 0;
    display: flex;
    height: 140px;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}
.footer__item
{
	cursor: pointer;
	padding:5px;
	width: 35px;
	text-align: center;	
}

.footer__item a
{
	color: white;

}


.footer__item:hover
{
	border-radius: 1rem;
	box-shadow: rgba(255, 255, 255, 0.05) -1vmin -1vmin 1vmin, rgba(0, 0, 0, 0.3) 1vmin 1vmin 1vmin;	
}
.copyright
{
  z-index: 3000;
	text-align: center;
    background-color: #000000b8;
    color: var(--fontcolor);
    word-spacing: 7px;
    padding: 10px;
}
/* media query for tablet phones */
@media (max-width:892px)
{
.skills__container
{
	
}	
.skill 
{
	width: 100px;
	height: 100px;
}
.skill_image
{
		height: 90%;
		width: 90%;
}
/* media query for tablets */
@media (max-width: 993px)
{
.myname__container
{	
	font-size: 1.5rem;
}
.emoji
{
	width: 25px;
    height: 25px;
}
}
/* media query for mobile phones */
@media (max-width:500px)
{
				.nav__item img
				{
					width: 15px;
					height: 15px;
				}
				.nav__item
				{
					font-size: 15px;
				}
				.myname__container
				{	
					font-size: 1rem;
				}
        .profile__img,
        .banner_wrapper
        {
            height: 70vh;
        }
				.emoji
				{
					width: 25px;
				    height: 25px;
				}
        .text__container
        {
          font-size: 10px;
          font-weight:bold;
        }
        .expereince__container{
          width: 100%;
        }
        .company_wrapper{
          height: 85px;
          padding: 1rem;
          justify-content: flex-start;
        }
        .company_logo img {
          height: 70px;
          width: 70px;
        }
				.skills__container
				{
					width: 100%;
				}	
				.skill 
				{
					width: 100px;
					height: 100px;
				}
				.skill_image
					{
						height: 80%;
						width: 80%;
					}
				.copyright
				{
					font-size: .9rem;
				}

				.footer__list
				{
					justify-content: space-around;
				    width: 100%;
				    height: 31px;
				    bottom: 0;
				    top: auto;
				    flex-direction: row;
				    margin: 0;
				    padding: 0.5rem;
				    border-radius: 32px 10px 0px 0px;
					-moz-border-radius: 32px 10px 0px 0px;
					-webkit-border-radius:32px 10px 0px 0px;
				}
				.footer__item{
					padding: 0 !important;
				}
				.footer__item i
				{
					font-size: 1.5rem;

				}
				.main-navigation-toggle + label {
					right: 8px;
				    top: auto;
				    bottom: 13px;
				}
}

