:root {
  --color-primary: white;
  --color-secondary:#3ea943;
}
body
{
	margin:0;
  scroll-behavior: smooth;
	font-family: 'Open Sans', sans-serif;
}
.bg-light-green
{
  background-color:  var(--color-secondary);
}
.btn-web{
  background-color: var(--color-secondary);
  color: white;
  font-weight: bold;
}
.btn-web:hover{
   color: white;
   transform: translateY(-5px);
   -moz-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
    -webkit-transition: ease all 0.5s;
    transition: ease all 0.5s;
}
.btn-web:focus{
  box-shadow: none;
}
.underline::after{
    content: '';
    margin-top: 0.3rem;
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--color-secondary);
    left: calc(50% - 25px);
}
.underline-white::after{
    content: '';
    margin-top: 0.3rem;
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: white;
    left: calc(50% - 25px);
}
/*  Navigation */
.navbar-light{
  background-color: var(--color-secondary) !important;
  border :1px solid var(--color-secondary) !important;
}
.navbar-brand{
  color: white !important;
  font-family: 'Kaushan Script', sans-serif;
}
.nav-link a{
  color: white;
}
.navbar-toggler{
  outline: none !important;
}

.icons{
  font-size: 44px;
  color:var(--color-secondary);
}

/*            carousel        */

.carousel-caption{
	font-weight: bold;
	display: flex !important; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
	color: white;
}
.carousel-wrapper{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}
.carousel-caption-heading
{
	font-size:2.5rem;
}
.carousel-caption h5,
.carousel-caption p
{
	color: white;
}

/*    section 1             */
.card-section{
  backdrop-filter: blur(0px) saturate(147%);
  -webkit-backdrop-filter: blur(0px) saturate(147%);
  background-color: white;
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  color: black;	
  min-height: 400px ;
}

.gallery-img-wrapper {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    height: 290px;
    width: 290px;
}
.gallery-img{
  height: 80%;
  width: 100%;
  margin: 0 !important;
}
.gallery-img-wrapper:hover{
    -moz-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
    -webkit-transition: ease all 0.5s;
    transition: ease all 0.5s;
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}

/*            Contact                   */
.card-contact{
  height: 250px ;

}
.contact-link::hover .contact-link::after
{
  text-decoration: underline;
}

/*                        FOOTER          */
footer{
  background: var(--color-secondary);
  padding: 40px 0px 0px 0px;
}
footer h5,
footer li a
{
  font-weight: bold;
  color:white;
}
.brand{
  font-family: 'Kaushan Script', sans-serif;
}
.social-media-icon{
  color: black;
}


/* media query for mobile phones */
@media (max-width:768px)
{
  

  .carousel-caption-heading
  {
    font-size: 20px;
  }
  .social-media-icons{
    justify-content: center;
  }
  .gallery-img-wrapper {
    height: 160px;
    width: 150px;
  }
  .product-des{
    font-size: 0.5rem;
  }
}
