

/* Please ❤ this if you like it! */


@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

/* #Primary
================================================== */

body{
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #212112;
	background-position: center;
	background-repeat: repeat;
	background-size: 7%;
	background-color: #fff;
	overflow-x: hidden;
    transition: all 200ms linear;
}
::selection {
	color: #fff;
	background-color: #8167a9;
}
::-moz-selection {
	color: #fff;
	background-color: #8167a9;
}


/* #Navigation
================================================== */
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.navbar {
	transition: all 1s;

}
.navbar .navbar-nav{
	
}

.navbar .nav-link {
	color:#f1f3f8ea;
	display: block;
    
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color:#38d112;
    
}

.navbar .navbar-brand {
	color:#000;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: rgb(193, 221, 250);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}
.navbar .container
{
	margin: 0;
}
.start{
	background-color: rgb(245, 245, 245);
	display: none;
}
  .navbar.active .start{
	display: initial;
	border-radius: 5px;
	width: 500px;
	height: 32px;
	padding-left: 20px; 
	padding-top: 4px;
	border: 2px solid #5f5e5e80;
  }
  .strt{
  position: absolute;
  padding: 0 20px;
  right: 15px;
  bottom: 3px;
  border: 2px solid #5f5e5e80;
  background-color: white;
  color:#5f5e5e80;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
}
.strt:hover{
	background-color:  rgb(193, 221, 250);
	color: white;
}

.navbar.active .nav-link {
    color: #555(233, 71, 71);
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    
    color: #e52424;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
.text-small {
    font-size: 0.9rem !important;
}


body {
    min-height: 120vh;
    background-color: #fff;
    background-image: linear-gradient(135deg,#fff 0%#fcfaff 100%);
}

/* #Side Navigatiom
================================================== */
.nav__side__container
{
  background-color: white;
  position: fixed;
  width: 70px;
  margin-top: 60px;
  height:82.5vh;
  padding-bottom: 50px;
  padding-top: 50px;
  z-index: 100;
  border:2px solid white;
  box-shadow:2px 1px 2px 2px  rgb(193, 221, 250);
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
  transition: .3s ease-in;
}
.nav__side
{position: absolute;
  width: 100%;
  margin:-15px;
  height: 50vh;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color :white; 
  border-radius: 100px;
}
.text
{
  display: none;
}
.line
{
  border-top: 2px solid black;
  width: 90%;
  margin-left: 3px;
  margin-bottom: 15px;
}
.nav__item
{
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100vh;
  padding: 0;
}
.nav__list
{
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
  height: 2.8rem;
}
.side__nav-link
{
	color: #5f5e5e80;
}


.side__nav-link:hover
{
  width: 80%;
  display:block;
  height: 30px;
  background-color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  color:  rgb(193, 221, 250);
  transform: translateY(-5px) ;
}
.side__nav-link.active,.side__nav-link:focus{
	color:  rgb(193, 221, 250);
}
.full__container
{
	margin-left:80px;  
}
.container-fluids
{
    width: 100%;
  	padding:0px 10px;
	position: relative; 
}
/* #Slider 1 and slider2 style
================================================== */
.container-fluid
{
	width: 92%;
	background-color: #fff;
    margin:0 auto;
    padding-top: 20px;
    overflow: hidden;
    position: relative;
}
.slider1,
.slider2,
.slider3,
.slider4
{
  
  text-align: center;
  height: 380px;
  transition: transform .8s ease-in;
  transform: translateX(1px);
}
.button
{
  position: absolute;
	top: 30%;
  background-color: white;
  cursor: pointer;
  z-index: 200;
  border-radius: 100px;
  color: #646363;
  padding-left:16px ;
  padding-top: 12px;
  
}
.button:hover{
	color:  rgb(193, 221, 250);
}

.button__prev1:hover,
.button__prev2:hover,
.button__prev3:hover,
.button__prev4:hover
{
	background-color: #d3d3d3;
	color: rgb(193, 221, 250);

}

.button__prev1,
.button__prev2,
.button__prev3,
.button__prev4
{
 display: none; 
  left: 5%;
	height: 50px;
	width: 50px;
  margin-top: 100px;
  border-radius: 100px;
  border:1px solid #d3d3d3;
  
}
.button__prev1::before,
.button__prev2::before,
.button__prev3::before,
.button__prev4::before

{
	display: none;
	border: #fff;


}
.button__next1,
.button__next2,
.button__next3,
.button__next4
{
  left: 92%;
  height: 50px;
  width: 50px;
  margin-top: 100px;
  border-radius: 100px;
  border: #fff;
  border:1px solid #d3d3d3;
}
.button__next1::before,
.button__next2::before,
.button__next3::before,
.button__next4::before
{ 	border: #fff;
	width: 50px;
	height: 50px;
}
.button__next1:hover,
.button__next2:hover,
.button__next3:hover,
.button__next4:hover{
	background-color: #d3d3d3;

}
.card
{
  position: absolute;
  width: 40%;
  border-radius: 5px;
}
.card-img-top
{
	height: 175px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.card-title
{
  margin: 0;
  padding-top: 0.8rem;
  padding-left: .8rem;
}
.card-body
{
  padding: 0.8rem;
}

/* #Primary style
================================================== */

.bg-light {
	background-color: #fff !important;
    transition: all 200ms linear;
}
.section {
    position: relative;
	width: 100%;
	display: block;
}
.full-height {
    height: 100vh;
}
.over-hide {
    overflow: hidden;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
  	margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
h1{
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
	color: #212112;
	text-align: center;
}
h7{
	
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 35px;
	line-height: 1.2;
	font-weight: 400;
	color: #555;
	text-align: center;
}
p{
	text-align: center;
	margin: 0;
	padding-top: 10px;
	opacity: 1;
	transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1700ms;
}
body.hero-anime p{
	opacity: 0;
	transform: translateY(40px);
    transition-delay: 1700ms;
}
h1 span{
	display: inline-block;
    transition: all 300ms linear;
	opacity: 1;
	transform: translate(0);
}
body.hero-anime h1 span:nth-child(1){
	opacity: 0;
	transform: translateY(-20px);
}
body.hero-anime h1 span:nth-child(2){
	opacity: 0;
	transform: translateY(-30px);
}
body.hero-anime h1 span:nth-child(3){
	opacity: 0;
	transform: translateY(-50px);
}
body.hero-anime h1 span:nth-child(4){
	opacity: 0;
	transform: translateY(-10px);
}
body.hero-anime h1 span:nth-child(5){
	opacity: 0;
	transform: translateY(-50px);
}
body.hero-anime h1 span:nth-child(6){
	opacity: 0;
	transform: translateY(-20px);
}
body.hero-anime h1 span:nth-child(7){
	opacity: 0;
	transform: translateY(-40px);
}
body.hero-anime h1 span:nth-child(8){
	opacity: 0;
	transform: translateY(-10px);
}
body.hero-anime h1 span:nth-child(9){
	opacity: 0;
	transform: translateY(-30px);
}
body.hero-anime h1 span:nth-child(10){
	opacity: 0;
	transform: translateY(-20px);
}
h1 span:nth-child(1){
    transition-delay: 1000ms;
}
h1 span:nth-child(2){
    transition-delay: 700ms;
}
h1 span:nth-child(3){
    transition-delay: 900ms;
}
h1 span:nth-child(4){
    transition-delay: 800ms;
}
h1 span:nth-child(5){
    transition-delay: 1000ms;
}
h1 span:nth-child(6){
    transition-delay: 700ms;
}
h1 span:nth-child(7){
    transition-delay: 900ms;
}
h1 span:nth-child(8){
    transition-delay: 800ms;
}
h1 span:nth-child(9){
    transition-delay: 600ms;
}
h1 span:nth-child(10){
    transition-delay: 700ms;
}
body.hero-anime h1 span:nth-child(11){
	opacity: 0;
	transform: translateY(30px);
}
body.hero-anime h1 span:nth-child(12){
	opacity: 0;
	transform: translateY(50px);
}
body.hero-anime h1 span:nth-child(13){
	opacity: 0;
	transform: translateY(20px);
}
body.hero-anime h1 span:nth-child(14){
	opacity: 0;
	transform: translateY(30px);
}
body.hero-anime h1 span:nth-child(15){
	opacity: 0;
	transform: translateY(50px);
}
h1 span:nth-child(11){
    transition-delay: 1300ms;
}
h1 span:nth-child(12){
    transition-delay: 1500ms;
}
h1 span:nth-child(13){
    transition-delay: 1400ms;
}
h1 span:nth-child(14){
    transition-delay: 1200ms;
}
h1 span:nth-child(15){
    transition-delay: 1450ms;
}

.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
	max-height: 0;
    display: block;
	padding: 0;
	margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
	max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: #212121;
	background-color: #fcfaff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	padding: 3px 15px;
	color: #212121;
	border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover, 
.dropdown-item:focus {
	color: #fff;
	background-color: rgba(129,103,169,.6);
}

body.dark{
	color: #fff;
	background-color: #1f2029;
}
body.dark .navbar-brand img{
  filter: brightness(100%);
}
body.dark h1{
	color: #fff;
}
body.dark h1 span{
    transition-delay: 0ms !important;
}
body.dark p{
	color: #fff;
    transition-delay: 0ms !important;
}
body.dark .bg-light {
	background-color: #14151a !important;
}
body.dark .start-header {
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}
body.dark .start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}
body.dark .nav-link{
	color: #fff !important;
}
body.dark .nav-item.active .nav-link{
	color: #999 !important;
}
body.dark .dropdown-menu {
	color: #fff;
	background-color: #1f2029;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
body.dark .dropdown-item {
	color: #fff;
}
body.dark .navbar-light .navbar-toggler-icon {
	
}
body.dark .navbar-light .navbar-toggler-icon:after, 
body.dark .navbar-light .navbar-toggler-icon:before{
	
}
body.dark .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	
}



/* #Media
================================================== */

@media (max-width: 767px) { 
	h1{
		font-size: 38px;
	}
	.nav-item:after{
		display: none;
	}
	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
	body.dark .nav-item::before {
		background-color: #fff;
	}
	body.dark .dropdown-toggle::after {
		background-color: #fff;
	}
	body.dark .dropdown-menu {
		background-color: transparent;
		box-shadow: none;
	}
}

/* #Link to page
================================================== */

.logo {
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  filter: brightness(10%);
	transition: all 250ms linear;
}
body.dark .logo img {
  filter: brightness(100%);
}


/* media query for tablet phones */
@media (max-width:992px)
{
.card
{
  position: absolute;
  width: 45%;
}
}
/* media query for laptop and computer phones */
@media (min-width: 993px)
{

.card
{
   position: absolute;
   width: 31%;
}	
.button
{
  top: 30%;
}
}
/* media query for mobile phones */
@media (max-width:768px)
{
.navbar-nav
{
  width: 35%;
}
.navbar-brand
{
  font-size: 1rem;
}
.navbar-nav
{
  font-size: .7rem;
}
.card
{
  position: absolute;
  width: 45%;
} 
.button
{
  top: 25%;
}
.button__prev1,
.button__prev2
{
  left: 4%;
  height: 30px;

  width:30px
}
.button__next1,
.button__next2
{
  right: 13%;
  cursor: pointer;
}
}
@media (max-width:500px)
{
.navbar-nav
{
  width: 40%;
}
.navbar-brand
{
  font-size: 1rem;
}
.navbar-nav
{
  font-size: .7rem;
}
.card
{
  position: absolute;
  width: 100%;
} 
.button
{
  top: 40%;
}
.button__prev1,
.button__prev2
{
  left: -3%;
}
.button__next1,
.button__next2
{
 left:86.4%;
}
}
